{
	"robots":[{
		"username":"jabberer.bot@gmail.com",
		"password":"yuanyuan",
		"robot.status.message":"Just a sample java jabber robot.",
		"send.offline.message":true
	},{
		"username":"longlifeuglyboy@gmail.com",
		"password":"xxxxx",
		"robot.status.message":"Just a another sample java jabber robot.",
		"send.offline.message":true
	}],
	"version":"0.9.0-SNAPSHOT"
}